<div style="padding-left: 338px; padding-top: 80px; width: 148%;">
	<h1 style="color: rgb(68, 114, 196); font-size: 80px;">Bienvenido a Guarderia ABC</h1>
	 <%= image_tag("Captura.PNG", :alt => "rss feed", :class => "aver") %>
</div>

<style type="text/css">
	.aver{
		width: 70%;
	}
</style>